<%- include('../partials/header') %> 
  <% if(!isAuthenthicated) { %>
    <div class="hero">
      <p class="main-paragraph">You are not logged in, please <a href="/auth/signin">sign in</a> or <a href="/auth/signup">sign up</a>.</p> 
    </div>
  <% } else { %>
    <h3 class="main-header">Profile</h3>
    <ul class="user-card">
      <li class="user-item">
        Email: <%= user.email %>
      </li>
      <li class="user-item">
        Name: <%= user.name %>
      </li>
      <li class="user-item">
        Registered at: <%= user.createdAt %>
      </li>
    </ul>
    <div class="user-accesories">
      <div class="user-wishlist">
        <a href="/auth/wishlist">
          <i class="fas fa-list-alt"></i>
        </a>
        <span>Wishlist</span>
      </div>
      <div class="user-cart">
        <a href="/auth/cart">
          <i class="fas fa-shopping-cart"></i>
        </a>
        <span>Cart</span>
      </div>
      <div class="user-orders">
        <a href="/auth/orders">
          <i class="fas fa-list-ul"></i>
        </a>
        <span>Orders</span>
      </div>
      
    </div>
  <% } %>
<%- include('../partials/footer') %> 