<%- include('../partials/header') %> 
  <h2 class="main-header">Wishlist</h2>
  <% wishlist.items.forEach(item => { %> 
    <div class="wishlist-item">
      <ul class="item-info">
        <li>Product: <%= item.productId %></li> <li class="price">Price: <%= item.variant.price %>$</li> x <li class="quantity">Quantity: <%= item.quantity %></li>
      </ul>
      <div class="item-action">
        <form action="/auth/wishlist?_method=DELETE" method="POST">
          <input type="hidden" name="productId" value="<%= item.productId %>">
          <input type="hidden" name="variantId" value="<%= item.variant.product_id %>">
          <button class="btn">Remove From Wishlist</button>
        </form>
        <form action="" method="POST">
          <input type="hidden" name="productId" value="<%= item.productId %>">
          <input type="hidden" name="variantId" value="<%= item.variant.product_id %>">
          <button class="btn">Add to Cart</button>
        </form>
      </div>
    </div>
   
  <% }) %> 
<%- include('../partials/footer') %> 