<%- include('partials/header') %>
  <h1 class="main-header">Main Categories</h1>  
  <div class="showcase">
    <% categories.forEach(cat => { %>

          <a class="showcase-item" href="/categories/<%= cat.id %>">
            <div class="item-text">
              <p><%= cat.id %></p>
            </div>
            <img class="item-img" src="/<%= cat.image %>" alt="no photo">
          </a>

    <% }) %>
  </div>
<%- include('partials/footer') %>
