<%- include('partials/header') %>
  <h1 class="main-header">Main Categories</h1>  
  <div class="showcase">
    <% categories.forEach(cat => { %>

          <a class="showcase-item" href="/categories/<%= cat.id %>">
            <div class="item-text">
              <p><%= cat.id %></p>
            </div>
            <div class="item-img">
              <img src="/<%= cat.image %>" alt="no photo">
            </div>
          </a>

    <% }) %>
    <% mongoCategories.forEach(cat => { %>

      <a class="showcase-item" href="/categories/mongo/<%= cat.id %>">
        <div class="item-text">
          <p><%= cat.id %></p>
        </div>
        <div class="item-img">
          <img src="/<%= cat.image %>" alt="no photo">
        </div>
      </a>

<% }) %>
  </div>
<%- include('partials/footer') %>
