<%- include('../partials/header') %>
<% if(!products.length) { %>
  <div class="hero">
    <p class="lead-paragraph">Seems like we couldn't retrieve any products for your search criteria</p>
  </div>
<% } else { %>
  <div class="products-search-showcase">
    <% products.forEach(product => { %>
      <div class="products-search-item">
        <div class="headers">
          <p class="products-search-image">Image</p>
          <p class="products-search-name">Name</p>
          <p class="products-search-type">Type</p>
          <p class="products-search-cart">Wishlist</p>
          <p class="products-search-wishlist">Cart</p>
        </div>
        <hr>
        <div class="values">
          <img src="/<%= product.image_groups[0].images[0].link %>" alt="<%= product.image_groups[0].images[0].alt %>">
          <p><%= product.image_groups[0].images[0].title %></p>
          <p><%= product.primary_category_id %></p>
          <form action="/auth/wishlist" method="POST">
            <input type="hidden" name="productId" id="productId" value="<%= product.id %>">
            <input type="hidden" name="variantId" id="variantId" value="<%= product.variants[0].product_id %>">
            <input type="hidden" name="quantity" id="quantity" value="1">
            <button class="btn">Add to Wishlist</button>
          </form>
          <form action="/auth/cart" method="POST">
            <input type="hidden" name="productId" id="productId" value="<%= product.id %>">
            <input type="hidden" name="variantId" id="variantId" value="<%= product.variants[0].product_id %>">
            <input type="hidden" name="quantity" id="quantity" value="1">
            <button class="btn">Add to Cart</button>
          </form>
        </div>
      </div>
    <% }) %>
  </div>
<% } %>
<%- include('../partials/footer') %>