<%- include('../partials/header') %>
<div class="product-details-item">
  <img src="/<%= product.image_groups[0].images[0].link %>" alt="<%= product.image_groups[0].images[0].alt %>">
  <div class="product-details-side-content">
    <h3><%= product.name %></h3>
    <p><%- product.long_description %></p>
    <div class="product-details-product-info">
      <p>Price: <%= product.price %> <%= product.currency %></p>
    </div>
    <div class="product-actions">
      <% if(!product.variants.length) { %>
        <h2>This product has sold out</h2>
      <% } else { %> 
        <form action="/auth/wishlist" method="POST">
          <input type="hidden" name="quantity" id="quantity" value="1">
          <input type="hidden" name="productId" id="productId" value="<%= product.id %>">
          <form-group>
            <label for="sizes">Pick a size</label>
            <select name="variantId" id="sizes">
              <% product.variants.forEach(variant => { %>
                <option value="<%= variant.product_id %>"><%= variant.variation_values.size %></option>
              <% }) %>
            </select>
          </form-group>
          <button class="btn">Add to Wishlist</button>
        </form>
      <% } %> 

    </div>
  </div>
  
</div>
<%- include('../partials/footer') %>